/* Start Global Rules*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* background: #000; */
  -webkit-filter: invert(0);
          filter: invert(0);
}

body {
  max-height: 100px;
  font-family: Poppins, sans-serif;
  background: #010409;
  color: #fff;
  font-size: 1.5rem;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* End Global Rules */
/* Start Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .overlay.mobile-show {
    display: block;
  }
}

.overlay.active {
  display: block;
}

/* End Overlay */
/* Start Header */
header {
  background: #161b22;
}

header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  left: 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .8em 15px;
  position: relative;
}

header .drop-down-menu {
  padding: 1.7em 0;
  width: 400px;
  background: #161b22;
  -webkit-box-shadow: -15px 15px 15px -10px #000;
          box-shadow: -15px 15px 15px -10px #000;
  border: 1px solid rgba(238, 245, 252, 0.2);
  border-radius: 8px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 11000;
}

@media (min-width: 768px) {
  header .drop-down-menu {
    display: none;
  }
  header .drop-down-menu.active {
    display: block;
  }
}

header .drop-down-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

header .drop-down-menu ul li {
  min-width: 100%;
}

header .drop-down-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9em 1em;
}

@media (min-width: 768px) {
  header .drop-down-menu ul li a {
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  header .drop-down-menu ul li a:hover {
    background: #1e70eb;
    color: #000;
  }
  header .drop-down-menu ul li a:hover p {
    font-weight: bold;
  }
}

header .drop-down-menu ul li a .icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: .5em;
  position: relative;
}

header .drop-down-menu ul li a .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2em;
}

header .drop-down-menu ul li.switch-theme {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9em 1em;
}

@media (min-width: 768px) {
  header .drop-down-menu ul li.switch-theme {
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  header .drop-down-menu ul li.switch-theme:hover {
    background: #1e70eb;
    color: #000;
  }
  header .drop-down-menu ul li.switch-theme:hover p {
    font-weight: bold;
  }
  header .drop-down-menu ul li.switch-theme:hover .toggle-theme {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    background: #000;
  }
}

header .drop-down-menu ul li.switch-theme .icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: .5em;
  position: relative;
}

header .drop-down-menu ul li.switch-theme .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2em;
}

header .drop-down-menu ul li.switch-theme .toggle-theme {
  background: rgba(238, 245, 252, 0.2);
  height: 15px;
  width: 25px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

header .drop-down-menu ul li.switch-theme .toggle-theme::before, header .drop-down-menu ul li.switch-theme .toggle-theme.switched::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #8a939e;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

header .drop-down-menu ul li.switch-theme .toggle-theme.switched {
  background: #75db8a;
}

header .drop-down-menu ul li.switch-theme .toggle-theme.switched::before {
  -webkit-transform: translateX(calc(25px - 15px));
          transform: translateX(calc(25px - 15px));
}

header .drop-down-menu ul li.switch-theme .toggle-theme {
  margin-left: auto;
}

header .drop-down-menu ul li.teacher-profile a img {
  width: 2em;
  border-radius: 50%;
  margin-right: .5em;
}

@media (max-width: 768px) {
  header .drop-down-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 80%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    padding-top: 3.7em;
  }
  header .drop-down-menu.show {
    right: 0;
  }
  header .drop-down-menu .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2em;
    cursor: pointer;
  }
}

header .navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.3em;
}

header .navigate .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0em;
  padding: 0 .7em;
  width: 300px;
  background: #0d1117;
  border: 1px solid rgba(238, 245, 252, 0.2);
  border-radius: 6px;
}

header .navigate .search input {
  outline: none;
  padding: .8em;
  background: transparent;
  color: #fff;
  width: 100%;
}

header .navigate .search i,
header .navigate .search input::-webkit-input-placeholder {
  color: #8a939e;
}

header .navigate .search i,
header .navigate .search input:-ms-input-placeholder {
  color: #8a939e;
}

header .navigate .search i,
header .navigate .search input::-ms-input-placeholder {
  color: #8a939e;
}

header .navigate .search i,
header .navigate .search input::placeholder {
  color: #8a939e;
}

header .navigate .search .search-back {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  header .navigate .search {
    display: none;
  }
  header .navigate .search.search-on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .navigate .search.search-on .search-back {
    display: block;
  }
}

@media (max-width: 992px) {
  header .navigate.search-on {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

header .navigate nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0em;
}

header .navigate nav a {
  padding: .5em 1em;
}

@media (min-width: 768px) {
  header .navigate nav a:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    color: #8a939e;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 992px) {
  header .navigate nav {
    display: none;
  }
}

header .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.4em;
}

@media (max-width: 992px) {
  header .profile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .profile.search-on {
    display: none;
  }
}

header .profile i {
  font-size: 1.9rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  header .profile i:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    color: #8a939e;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (min-width: 992px) {
  header .profile i.mobile-search {
    display: none;
  }
}

header .profile .notification-drop {
  position: absolute;
  background: #161b22;
  top: 100%;
  right: 0;
  padding: 1.7em 1.5em;
  width: 400px;
  min-height: 70vh;
  display: none;
  z-index: 1000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 9px 19px -4px #000;
          box-shadow: 0px 9px 19px -4px #000;
  border: 1px solid rgba(238, 245, 252, 0.2);
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 400px) {
  header .profile .notification-drop {
    width: 100%;
  }
}

header .profile .notification-drop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .profile .notification-drop p {
  font-style: italic;
  color: #8a939e;
}

header .profile i.more {
  position: relative;
  top: -3px;
}

@media (max-width: 768px) {
  header .profile i.more {
    display: none;
  }
}

header .profile .menu {
  height: 1em;
  width: 1.3em;
  cursor: pointer;
  position: relative;
}

@media (min-width: 768px) {
  header .profile .menu {
    display: none;
  }
}

header .profile .menu.header-fixed {
  z-index: 11000;
}

header .profile .menu span {
  display: block;
  height: 2px;
  border-radius: 50px;
  width: 100%;
  background: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

header .profile .bar1 {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header .profile .menu .bar2 {
  background: none;
}

header .profile .bar2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

header .profile .bar3 {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header .profile .menu.active .bar1 {
  top: 50%;
  -webkit-transform: translateY(-75%) rotate(45deg);
          transform: translateY(-75%) rotate(45deg);
}

header .profile .menu.active .bar2::before,
header .profile .menu.active .bar2::after {
  width: 0;
}

header .profile .menu.active .bar3 {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

header .profile .bar2::before,
header .profile .bar2::after {
  content: '';
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

header .profile .bar2::before {
  left: 0;
}

header .profile .bar2::after {
  right: 0;
}

header .profile a.teacher-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  header .profile a.teacher-profile:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    color: #8a939e;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 992px) {
  header .profile a.teacher-profile {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-right: auto;
  }
}

header .profile a.teacher-profile img {
  width: 35px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  header .profile a.teacher-profile p {
    display: none;
  }
}

/* End Header */
/* Start Next Session Section */
.next-session .container {
  margin-top: .7em;
  margin-bottom: .7em;
  background: #0d1117;
  padding: .8em 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.next-session h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 3.5rem;
}

.next-session .next-session-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.next-session .next-session-info h3 {
  font-size: 2.5rem;
}

.next-session .next-session-info .session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.next-session .next-session-info .session .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.next-session .next-session-info .session .info p {
  font-size: 2rem;
}

.next-session .next-session-info .session .functionalities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.next-session .next-session-info .session .functionalities a.start-btn {
  padding: .6em 2em;
  background: #238636;
  border-radius: 4px;
  text-align: center;
}

@media (min-width: 768px) {
  .next-session .next-session-info .session .functionalities a.start-btn:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    background: #49a75a;
  }
}

.next-session .next-session-info .session .functionalities a.edit-btn {
  padding: .6em 2em;
  background: #df3a11;
  border-radius: 4px;
  text-align: center;
}

@media (min-width: 768px) {
  .next-session .next-session-info .session .functionalities a.edit-btn:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    background: #e9795d;
  }
}

.next-session .next-session-info .session .functionalities a.remove-btn {
  padding: .6em 2em;
  background: #cb0101;
  border-radius: 4px;
  text-align: center;
}

@media (min-width: 768px) {
  .next-session .next-session-info .session .functionalities a.remove-btn:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    background: #ff1f1f;
  }
}

/* End Next Session Section */
/* Start Schedule Section */
.cell {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0em;
  height: 60px;
  background: #0d1117;
  border-radius: 6px;
  border: 1px solid rgba(238, 245, 252, 0.2);
}

.schedule .container {
  margin-top: .7em;
  margin-bottom: .7em;
  background: #0d1117;
  padding: .8em 15px;
}

.schedule ul.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #161b22;
  position: relative;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .schedule ul.filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .schedule ul.filter li {
    width: 100%;
  }
}

.schedule ul.filter li {
  text-align: center;
  padding: 1em 2em 1em .7em;
  position: relative;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  cursor: pointer;
}

@media (min-width: 768px) {
  .schedule ul.filter li:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    color: #8a939e;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.schedule ul.filter i {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4em;
  cursor: pointer;
}

.schedule ul.filter i:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #8a939e;
}

@media (max-width: 768px) {
  .schedule ul.filter i {
    display: none;
  }
}

.schedule .schedule-tab {
  background: #010409;
  border: 1px solid rgba(238, 245, 252, 0.2);
  border-radius: 6px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
}

.schedule .schedule-tab .days {
  height: 340px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.schedule .schedule-tab .overflower {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row: span 2;
}

@media (max-width: 1199px) {
  .schedule .schedule-tab .overflower {
    overflow-x: scroll;
  }
}

.schedule .schedule-tab .overflower .schedule-container {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  width: 1026.45px;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
}

.schedule .schedule-tab .overflower .schedule-container .hours {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.schedule .schedule-tab .overflower .schedule-container .sessions {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell {
  cursor: pointer;
  position: relative;
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell::before {
  content: '';
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-radius: 6px;
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell:hover::before {
  opacity: 1;
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell:hover .functionalities a {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  position: absolute;
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a {
  display: block;
  opacity: 0;
  padding: 5px;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (min-width: 768px) {
  .schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a i {
  position: relative;
  top: 1px;
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a.start {
  background: #238636;
}

@media (min-width: 768px) {
  .schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a.start:hover {
    background: #49a75a;
  }
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a.edit {
  background: #df3a11;
}

@media (min-width: 768px) {
  .schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a.edit:hover {
    background: #e9795d;
  }
}

.schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a.remove {
  background: #cb0101;
}

@media (min-width: 768px) {
  .schedule .schedule-tab .overflower .schedule-container .sessions .cell .functionalities a.remove:hover {
    background: #ff1f1f;
  }
}

/* End Schedule Section */
/* Start Start Popup */
.start-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: 100000;
  background: #0d1117;
  -webkit-box-shadow: -5px 5px 30px -10px #000;
          box-shadow: -5px 5px 30px -10px #000;
  border: 1px solid rgba(238, 245, 252, 0.2);
  width: 600px;
  max-height: 80vh;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
  font-size: 1.7em;
}

@media (max-width: 700px) {
  .start-section {
    width: 95%;
  }
}

.start-section h1 {
  text-align: start;
  font-weight: 400;
}

@media (max-width: 300px) {
  .start-section h1 {
    font-size: 1.5em;
  }
}

.start-section button.close-pop {
  position: absolute;
  top: .5em;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}

.start-section hr {
  display: block;
  height: 1px;
  width: 100%;
  border: none;
  margin: 10px 0;
  background: rgba(238, 245, 252, 0.2);
}

.start-section.pop {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

/* End Start Popup */
/* Start Remove Popup */
.remove-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: 100000;
  background: #0d1117;
  -webkit-box-shadow: -5px 5px 30px -10px #000;
          box-shadow: -5px 5px 30px -10px #000;
  border: 1px solid rgba(238, 245, 252, 0.2);
  width: 600px;
  max-height: 80vh;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

@media (max-width: 700px) {
  .remove-section {
    width: 95%;
  }
}

.remove-section h1 {
  text-align: start;
  font-weight: 400;
}

@media (max-width: 300px) {
  .remove-section h1 {
    font-size: 1.5em;
  }
}

.remove-section button.close-pop {
  position: absolute;
  top: .5em;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}

.remove-section hr {
  display: block;
  height: 1px;
  width: 100%;
  border: none;
  margin: 10px 0;
  background: rgba(238, 245, 252, 0.2);
}

.remove-section.pop {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.remove-section .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.remove-section .body .session-info p {
  text-align: start;
  margin: .4em 0;
}

.remove-section .body .textarea-wrapper {
  margin: 1em 0;
  width: 100%;
}

.remove-section .body .textarea-wrapper textarea {
  display: block;
  background: #010409;
  border: 1px solid rgba(238, 245, 252, 0.2);
  border-radius: 6px;
  width: 100%;
  max-width: 100%;
  min-width: 50%;
  min-height: 100px;
  max-height: 200px;
  padding: 1em;
  color: #fff;
}

.remove-section .body .send-notification label {
  color: #8a939e;
}

.remove-section .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.remove-section .footer button {
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: .5em 1.2em;
  margin: 0 .5em;
  cursor: pointer;
  font-size: .9em;
}

.remove-section .footer button.cancel {
  background: rgba(238, 245, 252, 0.2);
}

.remove-section .footer button.remove {
  background: #ff1f1f;
}

/* End Remove Popup */
/*# sourceMappingURL=main.css.map */