@mixin flex-r-c-b() {
    display: flex; 
    align-items: center;
    justify-content: space-between; 

}
@mixin flex-r-c-c($col-gap: 0) {
    @include flex-r-c-b();
    justify-content: center;
    gap: #{$col-gap}em;
}

@mixin flex-c-c-c($col-gap: 0) {
    @include flex-r-c-c($col-gap);
    flex-direction: column;
}

@mixin dark-hole($lightness) {
    background: if($lightness == 1, $blue-clr-300, $blue-clr-400); 
    border: 1px solid $border-color;
    border-radius: $border-r-2;
}

@mixin nav-elements-hover() {
    @media (min-width: 768px) {
        &:hover {
            transition: $transition-4;
            color: $grey-clr-100;
            transform: scale(1.05);
        }
    }
}

@mixin main-btn($back-color, $hover-color) {
    padding: .6em 2em; 
    background: $back-color; 
    border-radius: $border-r-1;
    text-align: center;

    @media (min-width: 768px) {
        &:hover {
            transition: $transition-4; 
            background: $hover-color; 
        }
    }
}

@mixin main-grid($gap: 0) {
    display: grid; 
    gap: #{$gap}px; 
}

@mixin reset-text() {
    width: fit-content; 
    text-align: center;
    white-space: nowrap;
}


@mixin popup() {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 30px; 
    border-radius: 10px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(0); 
    z-index: 100000;
    background: $blue-clr-300;
    box-shadow: -5px 5px 30px -10px #000;
    border: 1px solid $grey-clr-200; 
    width: 600px;
    max-height: 80vh; 
    font-weight: bold;
    opacity: 0; 
    transition: .3s; 
    text-align: center;
    @media (max-width: 700px) {
        width: 95% 
    }
    h1 {
        text-align: start;
        font-weight: 400;
        @media (max-width: 300px) {
            font-size: 1.5em;
        }
    }
    button.close-pop {
        position: absolute;
        top: .5em; 
        right: 20px;
        background: none;
        border: none; 
        cursor: pointer;
        font-size: 22px; 
        color: $white; 
    }
    hr {
        display: block;
        height: 1px; 
        width: 100%; 
        border: none; 
        margin: 10px 0; 
        background: $grey-clr-200; 
    }
    &.pop {
        opacity: 1; 
        transform: translate(-50%, -50%) scale(1);
    }
}