html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* background: #000; */
    filter: invert(0);
}

body {
    max-height: 100px; 
    font-family: Poppins, sans-serif;
    background: $blue-clr-400; 
    color: $white; 
    font-size: 1.5rem;
}

@import '../utilities/classes'; 