$dark: (
    white: #fff, 
    black: #000,

    // Grey
    grey-clr-100: hsl(212, 9%, 58%), 
    grey-clr-200: hsla(210, 70%, 96%, 0.2),
    grey-clr-300: hsl(215, 21%, 11%), 

    // Green
    green-clr-100: hsl(132, 59%, 66%), 
    green-clr-200: hsl(131, 39%, 47%),
    green-clr-300: hsl(132, 59%, 33%),

    // Blue
    blue-clr-100: hsl(216, 84%, 52%),  
    blue-clr-200: hsl(216, 28%, 37%),
    blue-clr-300: hsl(216, 28%, 7%), 
    blue-clr-400: hsl(218, 80%, 2%),  

    // Orange
    orange-clr-300: hsl(12, 86%, 47%), 
    orange-clr-200: hsl(12, 76%, 64%), 
    orange-clr-100: hsl(12, 86%, 77%),

    // Red
    red-clr-100: hsl(0, 99%, 70%),
    red-clr-200: hsl(0, 100%, 56%), 
    red-clr-300: hsl(0, 99%, 40%), 
);

$light: (
    white: #000, 
    black: #fff,

    // Blue In Light Becomes
    blue-clr-100: hsl(0, 0%, 46%),  
    blue-clr-200: hsl(0, 0%, 76%),
    blue-clr-300: #000, 
    blue-clr-400: hsl(0, 0%, 96%), 

    // Grey In Light Becomes
    grey-clr-100: hsl(0, 0%, 46%), 
    grey-clr-200: hsl(0, 0%, 76%),
    grey-clr-300: #000, 
);


$white: #fff !global; 
$black: #000 !global; 

// Grey
$grey-clr-100: hsl(212, 9%, 58%); 
$grey-clr-200: hsla(210, 70%, 96%, 0.2);
$grey-clr-300: hsl(215, 21%, 11%); 

// Green
$green-clr-100: hsl(132, 59%, 66%); 
$green-clr-200: hsl(131, 39%, 47%);
$green-clr-300: hsl(132, 59%, 33%);

// Blue
$blue-clr-100: hsl(216, 84%, 52%);  
$blue-clr-200: hsl(216, 28%, 37%);
$blue-clr-300: hsl(216, 28%, 7%); 
$blue-clr-400: hsl(218, 80%, 2%);  

// Orange
$orange-clr-300: hsl(12, 86%, 47%); 
$orange-clr-200: hsl(12, 76%, 64%); 
$orange-clr-100: hsl(12, 86%, 77%);

// Red
$red-clr-100: hsl(0, 99%, 70%);
$red-clr-200: hsl(0, 100%, 56%); 
$red-clr-300: hsl(0, 99%, 40%); 

// These will be custom variables in CSS root
$border-color: $grey-clr-200; 
$text-hover: var(--grey-clr-100);