header {
    background: $grey-clr-300;
    &.fixed {
        position: fixed;
        top: 0; 
        right: 0;
        z-index: 100;  
        left: 0;
    }
    .container {
        @include flex-r-c-b(); 
        padding: .8em 15px; 
        position: relative;
    }
    @import '../componenets/drop-down-menu'; 
    .navigate {
        @include flex-r-c-c(1.3); 
        @import '../componenets/_search-box';
        @media (max-width: 992px) {
            &.search-on {
                flex: 1;
            }
        }
        nav { 
            @include flex-r-c-c(0); 
            a {
                padding: .5em 1em;  
                @include nav-elements-hover(); 
            }
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
    .profile {
        @include flex-r-c-c(1.4);
        @media (max-width: 992px) {
            flex: 1; 
            &.search-on {
                display: none; 
            }
        } 
        i {
            font-size: 1.9rem;
            cursor: pointer; 
            @include nav-elements-hover(); 
        }
        i.mobile-search {
            @media (min-width: 992px) {
                display: none; 
            }
        }
        i.more {
            position: relative; 
            top: -3px; 
            @media (max-width: 768px) {
                display: none;
            }
        }
        @import '../componenets/menu-button';    
        a.teacher-profile {
            @include flex-r-c-c(.5); 
            @include nav-elements-hover();
            flex-wrap: wrap; 
            @media (max-width: 992px) {
                order: -2;
                margin-right: auto;
            }
            img {
                width: 35px; 
                border-radius: 50%; 
            } 
            p {
                @media (min-width: 992px) {
                    display: none; 
                }
            }
        }
    }
}