$functionalities: ('start' $green-clr-300 $green-clr-200),
('edit' $orange-clr-300 $orange-clr-200),
('remove' $red-clr-300 $red-clr-200); 

.next-session {
    .container {
        margin-top: .7em; 
        margin-bottom: .7em; 
        background: $blue-clr-300;
        padding: .8em 15px;
        @include flex-c-c-c(2.4);  
    }
    h1 {
        width: fit-content; 
        text-align: center;
        font-size: 3.5rem;
    }
    .next-session-info {
        @include flex-c-c-c(.6); 
        h3 {
            font-size: 2.5rem;
        }
        .session {
            @include flex-c-c-c(2.4); 
            .info {
                @include flex-r-c-c(.9);
                flex-wrap: wrap;
                align-items: flex-start; 
                p {
                    font-size: 2rem; 
                }
            }
            .functionalities {
                @include flex-r-c-c(.9);
                flex-wrap: wrap; 
                @each $functionality, $back-color, $hover-color in $functionalities {
                    a.#{$functionality}-btn {
                        @include main-btn($back-color, $hover-color); 
                    }
                }
            }
        }
    }
}